@charset "utf-8";

.menu{
  text-align: center;
  margin-top: 50px;
}
li{
  display: inline;
  margin:20px;
}
h1{
  text-align: center;
  margin-bottom: 2%
}
.text_mini{
  width: 90px;
}
.text_max{
  width: 350px;
}
table{
  margin: auto;
  text-align: center;
}
.table_header{
  text-align: center;
}
th{
  text-align:center;
}
.button{
  text-align:center;
  margin-top: 30px;
}
